.divvy{
    display: flex;
    background-color: gray;
    justify-content: center;
    padding: 2%;
}
body{
    background-color: lightblue;
}
.error{
    color: rgb(0, 46, 0);
}
.error_page{
    flex-direction: column;
    display: flex;
    padding-top: 10%;
    align-items: center;

}